VITE_WALLETCONNECT_PROJECT_ID=376fb4de78978779bf95
VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJjZjJhNDI3NS02MzkwLTRkMGMtYjk1Ni0wMTFiNzcxYWE2NTEiLCJlbWFpbCI6ImNoaXRyYW5nYXRoMjAwM0BnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiMzc2ZmI0ZGU3ODk3ODc3OWJmOTUiLCJzY29wZWRLZXlTZWNyZXQiOiIwZjFlYmNiOTczY2NhNGZkNDcwYjMyODk0ODg1NjA2N2VlYjdkYjQ1NThkODAxMTBiMmRjZjcxYzA4MzQzNmNkIiwiZXhwIjoxODEwMDc3NDk0fQ.U5UmXTujW48spDTHQKq_pxAsunXeFQyp5ygPoA-zbXA
VITE_SEPOLIA_RPC_URL=
VITE_DEPLOYMENT_BLOCK=10834539
VITE_MOCK_USDT_ADDRESS=0x088DcD9178a4a58786fA3cf18081649a2b29bbb1
VITE_PROPERTY_NFT_ADDRESS=0x329192aE8732B222be6505E6DFe1A02400361187
VITE_MARKETPLACE_ADDRESS=0x4dAfAb9a1560Cff8E33e031e8cA240408f069BdB
VITE_RENTAL_ESCROW_ADDRESS=0x80507292eBa35BcBd5c69EDBCb52255dB422Eb36
VITE_FRACTIONAL_ADDRESS=0xB97D45C1Da9d41E5d9A76ea31c319C2B691d0ef9
